
summary{
    background-color: var(--cinza-faq);
    margin-top: 0.5%;
    height: 15vh;

    font-family: var(--fonte-principal);
    font-weight: 550;
    color: var(--branco-principal);
}

.faq{
    margin-left: 10% ;
    margin-right: 10% ;
}

.titulo-faq{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
   
}

.texto.faq{
    color: var(--branco-principal);
}